
.card1{
    background-image: url("maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}

.card3{
    background-image: url("Política\ Amonguera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}

.card2{
    background-image: url("aaaa.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}




/*----------CSS DE ESTILOS----------*/

/************Reset**************/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
  }
  html, body, div, object, iframe, fieldset { 
    margin: 0; 
      padding: 0; 
      border: 0;
  } 
  ol, ul { 
      list-style: none;
      margin: 0;
      padding: 0;
  } 
  table { 
      border-collapse: collapse; 
      border-spacing: 0; 
  }
  header, footer, nav, section, article, hgroup, figure {
      display: block;	
  }
  legend {
      display: none;
  }
  /************End Reset**************/
  
  /************Global**************/
  body {
      background: #faf1e5;
      color: #000;
      font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
      padding: 0;
      -webkit-text-size-adjust: none;
  }
  a {
      color: #ccc;
      text-decoration: none;
  }
  a:hover, a:focus {
      color: orange;
  }
  
  p  {
  margin: 1em;
  text-align: center;
  }
  
  body p a{
  color: purple;
  }
  
  
  /************End Global**************/
  
  
  
  /************Structure**************/
  
  /*Patterns*/
  
  .pattern {
      background: #333;
      border-bottom: 1px solid #808080;
      margin-bottom: 1em;
      overflow: hidden;
  }
  
  /*----------CSS DEL TOGGLE----------*/
  
  a.menu-link {
            float: left;
              display: block;
              padding: 1em;
          }
          nav[role=navigation] {
              clear: both;
              -webkit-transition: all 0.3s ease-out;  
              -moz-transition: all 0.3s ease-out;
              -ms-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
          }
          .js nav[role=navigation] {
              overflow: hidden;
              max-height: 0;
          }
          nav[role=navigation].active {
              max-height: 15em;
          }
          nav[role=navigation] ul {
              margin: 0;
              padding: 0;
              border-top: 1px solid #808080;
          }
          nav[role=navigation] li a {
              display: block;
              padding: 0.8em;
              border-bottom: 1px solid #808080;
          }
          
          @media screen and (min-width: 48.25em) {
              a.menu-link {
                 display: none;
              }
              .js nav[role=navigation] {
                  max-height: none;
              }
              nav[role=navigation] ul {
                  margin: 0 0 0 -0.25em;
                  border: 0;
              }
              
              nav[role=navigation]  li {
                  display: inline-block;
                  margin: 0 0.25em;
              }
              nav[role=navigation] li a {
                  border: 0;
              }
          }














          .card-deck:has( > .card:hover ) .card:not(:hover){
            opacity: .5;
          }
          
          .card {
            background: #2196F3;
            aspect-ratio: 9/5;
            border-radius: 1rem;
            transition: opacity .2s;
          }
          
          .card-deck {
            background-color: #9e9e9e17;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat( 3, 1fr);
            padding: 1rem;
          
          }
          
          